{% extends 'mywallet/main.html' %}
{% block content %}
<div class="container mt-5 mx-auto" style="max-width: 500px">
  <div class="card">

    <h1 class="mx-auto" style="color: #3b71ca;">Login to MyWallet</h1>
    <form class="mx-auto" style="max-width: 300px;" method="post">
      <!-- Email input -->
      {% csrf_token %}

      {% if form.errors %}
      <div class="alert alert-danger" class="mx-auto">
        {% for field, errors in form.errors.items %}
        {% for error in errors %}
        <div>{{ error }}</div>
        {% endfor %}
        {% endfor %}
      </div>
      {% endif %}
      <div class="form-outline mb-4">
        <input type="email" name="username" maxlength="254" autofocus required id="id_username" class="form-control">
        <label for="id_username"  class="form-label">Email address</label>

      </div>
      <div class="form-outline mb-4">
        <input type="password" name="password" autocomplete="current-password" required id="id_password" class="form-control">
          <label for="id_password"  class="form-label">Password</label>

      </div>

      <!-- 2 column grid layout for inline styling -->
      <div class="row mb-4">
        <div class="col d-flex justify-content-center">

          <div class="col">
            <!-- Simple link -->
            <a href="#!">Forgot password?</a>
          </div>
        </div>

        <!-- Submit button -->
        <input type="submit" class="btn btn-primary btn-block mb-4" value="Login" style="color: green;">

        <!-- Register buttons -->
        <div class="text-center">
          <p>Not Registered? <a href="{% url 'register' %}">Register</a></p>
        </div>
    </form>
  </div>
</div>
{% endblock %}
