{% extends 'mywallet/main.html' %}
{% block content %}
<div class="container mt-5 mx-auto" style="max-width: 500px">
  <div class="card">
<h1 class="mx-auto" style="color: #3b71ca;;">Register for MyWallet</h1>
<form class="mx-auto" style="max-width: 300px;" method="post" id="register-form">
  {% csrf_token %}
  {% if form.errors %}
  <div class="alert alert-danger" class="mx-auto">
    {% for field, errors in form.errors.items %}
    {% for error in errors %}
    <div>{{ error }}</div>
    {% endfor %}
    {% endfor %}
  </div>
  {% endif %}
  <div class="form-outline mb-4">
    <input type="email" name="email" maxlength="254" autofocus required id="id_email" class="form-control">
    <label for="jd_email"  class="form-label">Email address:</label>

  </div>
  <div class="form-outline mb-4">
    <input type="password" name="password1" autocomplete="new-password" required id="id_password1" class="form-control">
      <label for="id_password1"  class="form-label">Password</label>

  </div>
  <div class="form-outline mb-4">
    <input type="password" name="password2" autocomplete="new-password" required id="id_password2" class="form-control">
      <label for="id_password2" class="form-label">Confirm password</label>

  </div>
  <button type="submit" class="btn btn-primary">Register</button>
  <div class="text-center">
    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
  </div>
</form>

</div>
</div>
{% endblock %}
